@font-face{
    font-family:BNKGOTHL;
    src:url('css/BNKGOTHL.ttf');
}
*{
    font-family:BNKGOTHL !important;
}

/*.header-area .academy-main-menu{*/
/*    position: absolute;*/
/*    width: 100%;*/
/*    height: 120px;*/
/*    background-color: transparent;*/
/*    top: 2px;*/
/*    z-index: 100;*/
/*    left: 0;*/
/*    right: 0;*/
/*}*/

.collapsible:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
a, a:hover, a:focus{
    color:yellow;
}
.breakpoint-on .classynav>ul>li>a {
    background-color:white
    border-bottom: 1px solid rgba(255,255,255,.5);
}
.breakpoint-on .classy-navbar .classy-menu {
    background-color: #02336e;
    position: fixed;
    top: 0;
    left: -310px;
    z-index: 1000;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: .5s;
    transition-duration: .5s;
    padding: 0;
    box-shadow: 0 5px 20px rgba(0,0,0,.1);
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}
/*.owl-carousel .owl-stage-outer{*/
/*    position: relative;*/
/*    overflow:hidden;*/
  
/*}*/
